<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.partyplanner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Partyplanner">
        <activity
            android:name=".EditActivity"
            android:exported="false" />
        <activity
            android:name=".PreferencesActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ChatWindowActivity"
            android:exported="false" />
        <activity
            android:name=".Invite"
            android:exported="false" />
        <activity
            android:name=".ChatTabItem"
            android:exported="false" />
        <activity
            android:name=".RequestListItem"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ProfilePictureActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".EditDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>